<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.rockpaperscissors">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".RockPaperScissors"
            android:label = "@string/app_name"
            android:parentActivityName=".Welcome">
        </activity>

        <activity
            android:name=".Welcome"
            android:label="Rock Paper Scissors Intro">
        <intent-filter>
            <category android:name = "android.intent.category.LAUNCHER"/>
            <action android:name = "android.intent.action.MAIN"/>
        </intent-filter>
        </activity>

    </application>

</manifest>
